<style>
  .shareWrapperBlog {
    width: 100%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btnShare {
    all: unset;
    cursor: pointer;

  }
  .shareWrapperBlog a {
    margin: 0 10px;
  }
@media(max-width:767px){
 .shareWrapperBlog {
    width: 92%;
  }
  .shareWrapperBlog a {
    margin: 0 4px;
  }
}
</style>
<div class="shareWrapperBlog">
  <a href="http://facebook.com/byedit.me" class="btnShare fb">
<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="20.5586" cy="20.9707" r="20" fill="#44AC34"/>
<path d="M22.8919 19.4707H26.5586V23.2207H22.8919V31.9707H19.2253V23.2207H15.5586V19.4707H19.2253V17.902C19.2253 16.4157 19.6824 14.5382 20.5917 13.512C21.501 12.4832 22.6365 11.9707 23.9968 11.9707H26.5586V15.7207H23.9919C23.3833 15.7207 22.8919 16.2232 22.8919 16.8445V19.4707Z" fill="white"/>
</svg>

</a>
  <a href="https://www.instagram.com/byedit_me/" class="btnShare insta">
<svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0_777_34808" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="41" height="40">
<circle cx="20.8633" cy="20" r="20" fill="#D9D9D9"/>
</mask>
<g mask="url(#mask0_777_34808)">
<path d="M31.4883 0H10.2383C5.06061 0 0.863281 4.19733 0.863281 9.375V30.625C0.863281 35.8027 5.06061 40 10.2383 40H31.4883C36.666 40 40.8633 35.8027 40.8633 30.625V9.375C40.8633 4.19733 36.666 0 31.4883 0Z" fill="#00B254"/>
<path d="M31.4883 0H10.2383C5.06061 0 0.863281 4.19733 0.863281 9.375V30.625C0.863281 35.8027 5.06061 40 10.2383 40H31.4883C36.666 40 40.8633 35.8027 40.8633 30.625V9.375C40.8633 4.19733 36.666 0 31.4883 0Z" fill="#00B254"/>
</g>
<path d="M20.8641 10.625C18.3181 10.625 17.9985 10.6362 16.9985 10.6816C16.0005 10.7274 15.3192 10.8853 14.7231 11.1172C14.1064 11.3566 13.5834 11.677 13.0623 12.1982C12.5408 12.7194 12.2205 13.2424 11.9803 13.8588C11.7478 14.4551 11.5896 15.1366 11.5447 16.1342C11.5 17.1342 11.4883 17.4539 11.4883 20.0001C11.4883 22.5463 11.4995 22.8648 11.5449 23.8647C11.5908 24.8628 11.7488 25.5441 11.9805 26.1402C12.2201 26.7568 12.5404 27.2799 13.0617 27.8009C13.5827 28.3225 14.1057 28.6436 14.7219 28.883C15.3184 29.1148 15.9998 29.2728 16.9977 29.3186C17.9977 29.364 18.317 29.3752 20.863 29.3752C23.4093 29.3752 23.7279 29.364 24.7278 29.3186C25.7259 29.2728 26.4079 29.1148 27.0045 28.883C27.6209 28.6436 28.1432 28.3225 28.664 27.8009C29.1856 27.2799 29.5058 26.7568 29.7461 26.1404C29.9765 25.5441 30.1348 24.8626 30.1817 23.8649C30.2266 22.865 30.2383 22.5463 30.2383 20.0001C30.2383 17.4539 30.2266 17.1344 30.1817 16.1344C30.1348 15.1363 29.9765 14.4552 29.7461 13.8591C29.5058 13.2424 29.1856 12.7194 28.664 12.1982C28.1426 11.6768 27.6211 11.3564 27.0039 11.1173C26.4062 10.8853 25.7246 10.7273 24.7265 10.6816C23.7265 10.6362 23.4081 10.625 20.8612 10.625H20.8641ZM20.0231 12.3145C20.2728 12.3141 20.5513 12.3145 20.8641 12.3145C23.3673 12.3145 23.664 12.3235 24.6525 12.3684C25.5665 12.4102 26.0627 12.5629 26.3931 12.6913C26.8307 12.8611 27.1426 13.0643 27.4705 13.3925C27.7986 13.7206 28.0017 14.0331 28.172 14.4706C28.3004 14.8006 28.4533 15.2968 28.4949 16.2108C28.5398 17.1991 28.5496 17.4959 28.5496 19.9979C28.5496 22.4999 28.5398 22.7968 28.4949 23.7851C28.4531 24.6991 28.3004 25.1952 28.172 25.5253C28.0022 25.9629 27.7986 26.2744 27.4705 26.6023C27.1424 26.9305 26.8308 27.1335 26.3931 27.3035C26.063 27.4324 25.5665 27.5848 24.6525 27.6266C23.6642 27.6715 23.3673 27.6812 20.8641 27.6812C18.3608 27.6812 18.0641 27.6715 17.0759 27.6266C16.1618 27.5844 15.6657 27.4317 15.3349 27.3033C14.8975 27.1333 14.5849 26.9303 14.2568 26.6022C13.9287 26.274 13.7256 25.9623 13.5553 25.5246C13.4269 25.1945 13.274 24.6984 13.2324 23.7843C13.1875 22.796 13.1785 22.4992 13.1785 19.9956C13.1785 17.4921 13.1875 17.1968 13.2324 16.2085C13.2742 15.2944 13.4269 14.7983 13.5553 14.4678C13.7253 14.0303 13.9287 13.7178 14.2569 13.3897C14.585 13.0616 14.8975 12.8584 15.335 12.6882C15.6655 12.5592 16.1618 12.4069 17.0759 12.3649C17.9407 12.3258 18.2759 12.3141 20.0231 12.3121V12.3145ZM25.8685 13.8711C25.2474 13.8711 24.7435 14.3745 24.7435 14.9957C24.7435 15.6168 25.2474 16.1207 25.8685 16.1207C26.4896 16.1207 26.9935 15.6168 26.9935 14.9957C26.9935 14.3746 26.4896 13.8707 25.8685 13.8707V13.8711ZM20.8641 15.1856C18.2054 15.1856 16.0497 17.3413 16.0497 20.0001C16.0497 22.6589 18.2054 24.8136 20.8641 24.8136C23.523 24.8136 25.6779 22.6589 25.6779 20.0001C25.6779 17.3413 23.5228 15.1856 20.8639 15.1856H20.8641ZM20.8641 16.875C22.59 16.875 23.9892 18.2741 23.9892 20.0001C23.9892 21.7259 22.59 23.1252 20.8641 23.1252C19.1382 23.1252 17.7392 21.7259 17.7392 20.0001C17.7392 18.2741 19.1382 16.875 20.8641 16.875Z" fill="white"/>
</svg>

</a>

 <!-- <a href="" class="btnShare">
<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="20.5586" cy="20.9707" r="20" fill="#44AC34"/>
<path d="M26.2154 23.7977L24.8014 22.3837L26.2154 20.9697C26.5868 20.5983 26.8815 20.1573 27.0825 19.672C27.2835 19.1867 27.387 18.6665 27.387 18.1412C27.387 17.6159 27.2835 17.0958 27.0825 16.6105C26.8815 16.1251 26.5868 15.6842 26.2154 15.3127C25.8439 14.9413 25.403 14.6466 24.9176 14.4456C24.4323 14.2446 23.9122 14.1411 23.3869 14.1411C22.8616 14.1411 22.3414 14.2446 21.8561 14.4456C21.3708 14.6466 20.9298 14.9413 20.5584 15.3127L19.1444 16.7267L17.7304 15.3127L19.1444 13.8987C20.2727 12.7886 21.7939 12.1694 23.3767 12.1758C24.9596 12.1823 26.4757 12.8139 27.595 13.9331C28.7142 15.0524 29.3458 16.5685 29.3523 18.1514C29.3587 19.7342 28.7394 21.2554 27.6294 22.3837L26.2154 23.7977ZM23.3864 26.6267L21.9724 28.0407C21.4169 28.6053 20.7551 29.0544 20.0252 29.3619C19.2953 29.6695 18.5118 29.8295 17.7197 29.8327C16.9277 29.836 16.1429 29.6823 15.4105 29.3807C14.6781 29.0791 14.0127 28.6355 13.4527 28.0754C12.8926 27.5154 12.449 26.85 12.1474 26.1176C11.8458 25.3852 11.6921 24.6004 11.6954 23.8083C11.6986 23.0163 11.8586 22.2328 12.1662 21.5029C12.4737 20.773 12.9228 20.1112 13.4874 19.5557L14.9014 18.1417L16.3154 19.5557L14.9014 20.9697C14.5299 21.3412 14.2353 21.7821 14.0343 22.2675C13.8332 22.7528 13.7298 23.2729 13.7298 23.7982C13.7298 24.3235 13.8332 24.8437 14.0343 25.329C14.2353 25.8143 14.5299 26.2553 14.9014 26.6267C15.2728 26.9982 15.7138 27.2928 16.1991 27.4938C16.6844 27.6949 17.2046 27.7983 17.7299 27.7983C18.2552 27.7983 18.7753 27.6949 19.2606 27.4938C19.746 27.2928 20.1869 26.9982 20.5584 26.6267L21.9724 25.2127L23.3864 26.6267ZM23.3864 16.7267L24.8014 18.1417L17.7304 25.2117L16.3154 23.7977L23.3864 16.7277V16.7267Z" fill="white"/>
</svg>

</a> -->
</div>