<modal-dialog id="PopupModal-tabby" class="product-popup-modal">
  <div role="dialog" aria-label="Learn More" aria-modal="true" class="product-popup-modal__content">
    <button id="ModalClose-tabby" type="button" class="product-popup-modal__toggle" aria-label="Close">
      <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17">
        <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor"></path>
      </svg>
    </button>
    <div class="product-popup-modal__content-info">
      <div class="styles__body--a3828 styles__body_rectangle--504ab" data-test="widget-container" style="padding: 32px; align-items: stretch;">
        <div class="styles__header--8f936">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 31" fill="none" class="styles__tabby-info__logo--ec151 styles__logo--02285">
            <path d="M84.5707 6.55536L78.7153 30.0165L78.7021 30.0693H83.2618L89.138 6.55536H84.5707Z" fill="black"></path>
            <path d="M12.1216 19.9039C11.4375 20.2557 10.6852 20.4367 9.9234 20.4327C8.28047 20.4327 7.34839 20.1579 7.24762 18.7635V18.6704C7.24762 18.6141 7.24105 18.5555 7.24105 18.5003V14.455L7.24762 13.9768V11.1213H7.24105V9.89362L7.24762 9.41196V6.65305L3.17535 7.21862C5.93328 6.65765 7.51377 4.3689 7.51377 2.0905V0.688049H2.93329V7.25771L2.6748 7.33358V19.4969C2.82595 22.9145 4.9749 24.9458 8.49186 24.9458C9.75218 24.9426 10.9988 24.6716 12.1567 24.1491L12.1797 24.1388V19.8717L12.1216 19.9039Z" fill="black"></path>
            <path d="M12.8433 5.67126L0 7.74964V11.1684L12.8433 9.09002V5.67126Z" fill="black"></path>
            <path d="M12.8433 10.6719L0 12.7503V16.015L12.8433 13.9378V10.6719Z" fill="black"></path>
            <path d="M27.2546 12.2444C27.0728 8.45087 24.8122 6.19775 21.1276 6.19775C19.0104 6.19775 17.2645 7.05647 16.0794 8.68192C14.8943 10.3074 14.2744 12.6835 14.2744 15.5712C14.2744 18.4588 14.8987 20.843 16.0794 22.4684C17.2602 24.0939 19.0104 24.9515 21.1276 24.9515C24.8122 24.9515 27.0728 22.6903 27.2546 18.8727V24.5939H31.8307V6.5978L27.2546 7.3381V12.2444ZM27.4923 15.5712C27.4923 18.9347 25.81 21.1074 23.2065 21.1074C20.5219 21.1074 18.9195 19.0382 18.9195 15.5712C18.9195 12.0834 20.5219 10.0005 23.2065 10.0005C24.512 10.0005 25.6029 10.5338 26.3598 11.5443C27.1013 12.5318 27.4923 13.925 27.4923 15.5712Z" fill="black"></path>
            <path d="M45.1797 6.19782C41.4941 6.19782 39.2334 8.44978 39.0538 12.2502V1.35938L34.4766 2.10083V24.5883H39.0538V18.8601C39.2334 22.6823 41.4941 24.9458 45.1797 24.9458C49.4929 24.9458 52.0679 21.442 52.0679 15.5712C52.0679 9.70049 49.4929 6.19782 45.1797 6.19782ZM43.0986 21.1074C40.4941 21.1074 38.8117 18.9348 38.8117 15.5712C38.8117 13.9251 39.2038 12.5318 39.9453 11.5478C40.7022 10.5374 41.7931 10.004 43.0986 10.004C45.7832 10.004 47.3856 12.0869 47.3856 15.5747C47.3889 19.0383 45.7865 21.1074 43.1019 21.1074H43.0986Z" fill="black"></path>
            <path d="M64.5351 6.19782C60.8495 6.19782 58.5878 8.44978 58.4081 12.2502V1.35938L53.832 2.10083V24.5883H58.4016V18.8601C58.5812 22.6823 60.8429 24.9458 64.5286 24.9458C68.8407 24.9458 71.4157 21.442 71.4157 15.5712C71.4157 9.70049 68.8418 6.19782 64.5351 6.19782ZM62.4541 21.1074C59.8495 21.1074 58.1672 18.9348 58.1672 15.5712C58.1672 13.9251 58.5582 12.5318 59.2997 11.5478C60.0576 10.5374 61.1485 10.004 62.4541 10.004C65.1376 10.004 66.74 12.0869 66.74 15.5747C66.7378 19.0383 65.1354 21.1074 62.4541 21.1074Z" fill="black"></path>
            <path d="M71.4268 6.55536H76.3139L80.2843 24.555H75.9032L71.4268 6.55536Z" fill="black"></path>
          </svg>
        </div>
        <div class="styles__title--534fc">
          <div class="styles__title--5f0a4">Pay in 4 interest-free payments</div>
          <div class="styles__subtitle--4fccd">Shariah-compliant. No fees.</div>
        </div>
        <div class="styles__diagramm--877c2">
          <div class="styles__tabby-promo__graph-with-titles--fb296">
            <div class="styles__installmentsScheme--bd756">
              <div class="styles__circle--1fc0f styles__circleActive--a66db styles__circleDark--e64fa styles__circleBig--58244">
                <div class="styles__circleInside--227d2" style="background: conic-gradient(var(--dark-circle-color) 25%, #fff 25%);"></div>
              </div>
              <div class="styles__installmentsSchemeDivider--acdc8 styles__installmentsSchemeDividerDark--30769 styles__installmentsSchemeDividerBig--3661f"></div>
              <div class="styles__circle--1fc0f styles__circleDark--e64fa styles__circleBig--58244">
                <div class="styles__circleInside--227d2" style="background: conic-gradient(var(--dark-circle-color) 50%, #fff 50%);"></div>
              </div>
              <div class="styles__installmentsSchemeDivider--acdc8 styles__installmentsSchemeDividerDark--30769 styles__installmentsSchemeDividerBig--3661f"></div>
              <div class="styles__circle--1fc0f styles__circleDark--e64fa styles__circleBig--58244">
                <div class="styles__circleInside--227d2" style="background: conic-gradient(var(--dark-circle-color) 75%, #fff 75%);"></div>
              </div>
              <div class="styles__installmentsSchemeDivider--acdc8 styles__installmentsSchemeDividerDark--30769 styles__installmentsSchemeDividerBig--3661f"></div>
              <div class="styles__circle--1fc0f styles__circleDark--e64fa styles__circleBig--58244">
                <div class="styles__circleInside--227d2" style="background: conic-gradient(var(--dark-circle-color) 100%, #fff 100%);"></div>
              </div>
            </div>
            <div class="styles__tabby-promo__graph-with-titles__descr--b83d6">
              <div class="styles__tabby-promo__graph-with-titles__item-text--de93c styles__tabby-promo__graph-with-titles__item-text_big--fa514">
                <div><span class="installment-price"></span> AED</div>
                <div>Today</div>
              </div>
              <div class="styles__tabby-promo__graph-with-titles__item-text--de93c styles__tabby-promo__graph-with-titles__item-text_big--fa514">
                <div><span class="installment-price"></span> AED</div>
                <div>1 month</div>
              </div>
              <div class="styles__tabby-promo__graph-with-titles__item-text--de93c styles__tabby-promo__graph-with-titles__item-text_big--fa514">
                <div><span class="installment-price"></span> AED</div>
                <div>2 months</div>
              </div>
              <div class="styles__tabby-promo__graph-with-titles__item-text--de93c styles__tabby-promo__graph-with-titles__item-text_big--fa514">
                <div><span class="installment-price"></span> AED</div>
                <div>3 months</div>
              </div>
            </div>
          </div>
        </div>
        <div class="styles__howItWorks--a4ca3">
          <div class="styles__howItWorksTitle--70688">How it works:</div>
          <ul class="styles__howItWorksList--5ebda">
            <li class="styles__howItWorksListItem--b6ad6">
              <span class="styles__howItWorksListItemCircle--508ac">1</span>
              <span>Choose Tabby at checkout</span>
            </li>
            <li class="styles__howItWorksListItem--b6ad6">
              <span class="styles__howItWorksListItemCircle--508ac">2</span>
              <span>Enter your information and add your debit or credit card.</span>
            </li>
            <li class="styles__howItWorksListItem--b6ad6">
              <span class="styles__howItWorksListItemCircle--508ac">3</span>
              <span>Your first payment is taken when the order is made.</span>
            </li>
            <li class="styles__howItWorksListItem--b6ad6">
              <span class="styles__howItWorksListItemCircle--508ac">4</span>
              <span>We'll send you a reminder when your next payment is due</span>
            </li>
          </ul>
        </div>
        <div class="styles__actions--61780">
          <div></div>
          <div class="style__credit-card--20436 styles__cards--7130f">
            <div class="style__credit-card__container-card--63e9c">
              <div class="style__credit-card__item--88e09" data-test="mastercard-icon">
                <svg viewBox="0 0 38 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1" y="1" width="36" height="24" rx="4" fill="#fff" stroke="#E6E5E9" stroke-width="0.656"></rect>
                  <path d="M21.434 9.177h-4.867v8.643h4.867V9.177Z" fill="#FF5F00"></path>
                  <path d="M16.876 13.499c0-1.68.788-3.284 2.132-4.322-2.425-1.878-5.917-1.466-7.817.932a5.435 5.435 0 0 0 .942 7.711 5.598 5.598 0 0 0 6.875 0 5.455 5.455 0 0 1-2.132-4.321Z" fill="#EB001B"></path>
                  <path d="M28 13.499c0 3.039-2.487 5.497-5.562 5.497a5.546 5.546 0 0 1-3.43-1.176 5.447 5.447 0 0 0 .928-7.711 5.411 5.411 0 0 0-.943-.932c2.41-1.878 5.917-1.466 7.818.932a5.401 5.401 0 0 1 1.19 3.39ZM27.475 16.904v-.183h.077v-.03h-.185v.03h.077v.183h.031Zm.356 0v-.214h-.062l-.062.153-.062-.153H27.6v.214h.046v-.152l.062.137h.047l.062-.137v.168l.015-.016Z" fill="#F79E1B"></path>
                </svg>
              </div>
              <div class="style__credit-card__item--88e09" data-test="visa-icon">
                <svg viewBox="0 0 38 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1" y="1" width="36" height="24" rx="4" fill="#fff" stroke="#E6E5E9" stroke-width="0.656"></rect>
                  <path d="m18.668 9.123-1.697 7.39h-2.093l1.696-7.39h2.094Zm8.665 4.763 1.087-2.774.636 2.774h-1.723Zm2.306 2.628h1.908l-1.67-7.391H28.13c-.398 0-.743.22-.875.54l-3.1 6.85h2.172l.424-1.104h2.65l.239 1.105Zm-5.38-2.407c0-1.94-2.915-2.062-2.888-2.922 0-.27.291-.54.874-.614a4.306 4.306 0 0 1 2.04.32l.372-1.572A5.887 5.887 0 0 0 22.722 9c-2.04 0-3.471 1.007-3.498 2.455 0 1.056 1.034 1.67 1.802 2.014.795.368 1.087.59 1.06.908 0 .491-.636.712-1.245.712-1.034.025-1.643-.27-2.12-.466l-.372 1.62c.478.197 1.379.393 2.306.393 2.173 0 3.604-1.006 3.604-2.529ZM15.7 9.123l-3.339 7.39h-2.173l-1.643-5.892c-.106-.369-.185-.492-.503-.639-.504-.245-1.325-.49-2.041-.638l.053-.221h3.525c.45 0 .848.27.954.761l.874 4.272 2.147-5.033h2.146Z" fill="#1A1F70"></path>
                </svg>
              </div>
              <div class="style__credit-card__item--88e09" data-test="mada-icon">
                <svg viewBox="0 0 38 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1" y="1" width="36" height="24" rx="4" fill="#fff" stroke="#E6E5E9" stroke-width="0.656"></rect>
                  <path d="M17.128 13.404H7v3.227h10.128v-3.227Z" fill="#84B740"></path>
                  <path d="M17.128 9H7v3.23h10.128V9Z" fill="#259BD6"></path>
                  <path d="m27.256 15.976-.045.008c-.156.029-.213.04-.328.04-.264 0-.577-.129-.577-.739 0-.313.054-.73.547-.73h.003c.084.005.18.014.361.066l.04.011v1.344Zm.081-3.04-.08.014v1.127l-.073-.02-.021-.006a1.73 1.73 0 0 0-.448-.074c-.986 0-1.194.713-1.194 1.311 0 .82.481 1.292 1.32 1.292.355 0 .617-.035.881-.118.244-.075.331-.181.331-.409v-3.236c-.235.04-.478.08-.716.118ZM30.188 15.995l-.042.012-.15.037a1.633 1.633 0 0 1-.364.055c-.232 0-.37-.11-.37-.296 0-.121.057-.326.436-.326h.49v.518Zm-.345-2.033c-.304 0-.617.051-1.005.167l-.253.071.085.547.246-.078c.259-.08.58-.132.821-.132.109 0 .44 0 .44.342v.15h-.46c-.84 0-1.228.256-1.228.805 0 .469.358.75.96.75.186 0 .445-.034.667-.085l.012-.003.012.003.075.011c.235.04.479.08.716.124v-1.795c0-.581-.367-.877-1.088-.877ZM24.345 15.995l-.042.012-.15.037a1.61 1.61 0 0 1-.364.055c-.232 0-.37-.11-.37-.296 0-.121.057-.326.433-.326h.49l.003.518Zm-.343-2.033c-.306 0-.616.051-1.004.167l-.253.071.084.547.247-.078c.259-.08.58-.132.821-.132.108 0 .439 0 .439.342v.15h-.46c-.84 0-1.23.256-1.23.805 0 .469.358.75.962.75.187 0 .445-.034.668-.085l.012-.003.012.003.072.011c.238.04.478.08.716.127v-1.795c.003-.587-.364-.88-1.086-.88ZM21.179 13.968c-.382 0-.698.12-.815.172l-.03.015-.027-.02c-.163-.112-.4-.17-.731-.17-.292 0-.566.04-.863.124-.256.075-.355.192-.355.414v2.05h.8v-1.895l.039-.011c.162-.052.259-.06.352-.06.231 0 .349.117.349.347v1.623h.787v-1.654c0-.098-.02-.155-.024-.167l-.027-.049.054-.023a.986.986 0 0 1 .391-.078c.16 0 .35.06.35.348v1.623h.784V14.86c0-.601-.337-.892-1.034-.892ZM29.599 11.106c-.117 0-.313-.011-.466-.04l-.045-.009V9.95a.52.52 0 0 0-.021-.159l-.024-.046.05-.02.04-.014.009-.006.054-.017c.009-.003.015-.006.021-.006.177-.046.34-.04.412-.046h.003c.49 0 .547.417.547.73-.003.61-.319.74-.58.74ZM29.596 9h-.021c-.46 0-.932.121-1.1.357a.699.699 0 0 0-.145.429v1.142c0 .097-.021.135-.024.143l-.027.05h-1.453v-.795h-.003c-.018-.837-.535-1.297-1.284-1.297h-.73c-.03.204-.055.348-.085.553h.728c.382 0 .583.31.583.788v.8l-.05-.027a.574.574 0 0 0-.172-.023h-1.257c-.024.153-.054.351-.087.55h3.864c.132-.026.286-.05.418-.07.195.093.56.142.809.142.839 0 1.383-.538 1.383-1.367-.003-.82-.53-1.357-1.347-1.375ZM22.82 12.007h.037c.838 0 1.23-.265 1.23-.918 0-.469-.358-.843-.96-.843h-.773c-.231 0-.37-.126-.37-.34 0-.143.058-.321.436-.321h1.69c.037-.21.055-.343.088-.553h-1.756c-.818 0-1.23.328-1.23.875 0 .54.358.822.959.822h.773c.231 0 .37.176.37.36 0 .12-.058.371-.433.371h-.13l-2.475-.006h-.45c-.383 0-.65-.207-.65-.687v-.33c0-.501.207-.812.65-.812h.733l.084-.55H19.642c-.749 0-1.266.481-1.284 1.318v.374c.018.837.535 1.237 1.284 1.237h.731l1.34.003h1.107Z" fill="#27292D"></path>
                </svg>
              </div>
              <div class="style__credit-card__item--88e09" data-test="amex-icon">
                <svg width="36" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#016FD0" d="M1 1h34v22H1z"></path>
                  <path d="M1 1h34v11.876l-1.683 1.702L35 16.092V23H1V11.804l1.052-.782L1 10.273V1Z" fill="#016FD0"></path>
                  <path d="M7.584 18.506V13.18h5.638l.605.789.625-.789h20.464v4.96s-.535.362-1.154.367H22.43l-.682-.84v.84h-2.235v-1.433s-.305.2-.965.2h-.76v1.233h-3.384L13.8 17.7l-.614.806H7.585ZM1 9.164 2.271 6.2h2.2l.72 1.66V6.2h2.734l.43 1.2.416-1.2H21.04v.603s.645-.603 1.705-.603l3.98.014.71 1.639V6.199h2.287l.63.941V6.2h2.308v5.327h-2.308l-.604-.945v.945h-3.36l-.338-.84h-.904l-.332.84h-2.28a2.253 2.253 0 0 1-1.494-.591v.591h-3.436l-.682-.84v.84H4.144l-.337-.84h-.9l-.336.84H1V9.164Z" fill="#fff"></path>
                  <path d="m2.721 6.855-1.715 3.99h1.117l.316-.8h1.84l.314.8h1.141l-1.713-3.99h-1.3Zm.635.929.56 1.396H2.793l.563-1.396ZM5.853 10.844v-3.99l1.586.007.923 2.571.9-2.577h1.574v3.989H9.84v-2.94l-1.057 2.94h-.874l-1.06-2.94v2.94h-.996ZM11.519 10.844v-3.99h3.252v.893h-2.245v.682h2.193v.84h-2.193v.709h2.245v.866H11.52ZM15.348 6.855v3.99h.996V9.426h.42l1.195 1.417h1.218l-1.311-1.47a1.215 1.215 0 0 0 1.093-1.224c0-.84-.658-1.295-1.393-1.295h-2.218Zm.996.893h1.14c.273 0 .472.214.472.42 0 .265-.258.42-.457.42h-1.155v-.84ZM20.384 10.844h-1.018v-3.99h1.018v3.99ZM22.797 10.844h-.22c-1.063 0-1.708-.838-1.708-1.978 0-1.169.638-2.011 1.98-2.011h1.102v.944H22.81c-.545 0-.93.426-.93 1.076 0 .773.44 1.097 1.075 1.097h.263l-.42.872ZM24.966 6.855l-1.715 3.99h1.116l.317-.8h1.84l.314.8h1.141l-1.713-3.99h-1.3Zm.634.929.56 1.396h-1.122l.562-1.396ZM28.096 10.844v-3.99h1.267l1.618 2.507V6.855h.997v3.989H30.75l-1.659-2.572v2.572h-.996ZM8.266 17.824v-3.989h3.253v.893H9.273v.682h2.193v.84H9.273v.708h2.246v.866H8.266ZM24.204 17.824v-3.989h3.252v.893h-2.245v.682h2.182v.84h-2.182v.708h2.245v.866h-3.252ZM11.644 17.824l1.584-1.97-1.622-2.019h1.256l.966 1.249.969-1.249h1.206l-1.6 1.995 1.587 1.994h-1.256l-.937-1.228-.915 1.228h-1.238ZM16.109 13.836v3.989h1.023v-1.26h1.05c.887 0 1.56-.471 1.56-1.387 0-.76-.528-1.342-1.431-1.342h-2.202Zm1.023.902h1.105c.287 0 .492.176.492.46 0 .265-.204.458-.495.458h-1.102v-.918ZM20.174 13.835v3.99h.997v-1.418h.42l1.195 1.417h1.218l-1.312-1.47a1.215 1.215 0 0 0 1.094-1.224c0-.84-.659-1.295-1.394-1.295h-2.218Zm.997.893h1.14c.273 0 .472.214.472.42 0 .265-.258.42-.458.42h-1.154v-.84ZM27.918 17.824v-.866h1.994c.296 0 .423-.16.423-.334 0-.168-.127-.337-.423-.337h-.901c-.784 0-1.22-.478-1.22-1.195 0-.64.4-1.257 1.564-1.257h1.941l-.42.898h-1.678c-.321 0-.42.168-.42.33 0 .165.122.347.367.347h.944c.874 0 1.253.496 1.253 1.145 0 .698-.422 1.27-1.3 1.27h-2.124ZM31.576 17.824v-.866h1.995c.295 0 .422-.16.422-.334 0-.168-.127-.337-.422-.337h-.902c-.783 0-1.22-.478-1.22-1.195 0-.64.4-1.257 1.564-1.257h1.941l-.42.898h-1.678c-.321 0-.42.168-.42.33 0 .165.122.347.367.347h.945c.873 0 1.252.496 1.252 1.145 0 .698-.422 1.27-1.3 1.27h-2.124Z" fill="#016FD0"></path>
                  <rect x="0.5" y="0.5" width="35" height="23" rx="3.5" stroke="#E6E5E9"></rect>
                </svg>
              </div>
              <div class="style__credit-card__item--88e09" data-test="applepay-icon">
                <svg viewBox="0 0 38 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect x="1" y="1" width="36" height="24" rx="4" fill="#fff" stroke="#E6E5E9" stroke-width="0.656"></rect>
                  <path d="M12.025 10.108c.251-.298.421-.699.376-1.108a1.65 1.65 0 0 0-1.074.529c-.233.255-.439.672-.385 1.065.412.034.823-.196 1.083-.486ZM12.397 10.67c-.599-.034-1.107.323-1.393.323-.286 0-.724-.306-1.197-.298a1.78 1.78 0 0 0-1.5.867c-.643 1.053-.17 2.616.455 3.475.304.424.67.892 1.152.875.456-.017.634-.28 1.188-.28.553 0 .714.28 1.197.271.5-.008.813-.424 1.116-.85.349-.483.491-.95.5-.976-.009-.009-.964-.357-.973-1.402-.01-.875.75-1.292.786-1.317-.43-.603-1.099-.671-1.331-.688ZM17.607 9.486c1.301 0 2.207.852 2.207 2.093 0 1.246-.925 2.103-2.24 2.103h-1.44v2.177h-1.04V9.486h2.513Zm-1.472 3.365h1.194c.905 0 1.421-.463 1.421-1.267 0-.804-.515-1.263-1.417-1.263h-1.198v2.53ZM20.085 14.539c0-.813.655-1.312 1.817-1.374l1.338-.075v-.358c0-.516-.367-.826-.98-.826-.581 0-.944.265-1.032.68h-.947c.055-.839.808-1.457 2.016-1.457 1.184 0 1.941.596 1.941 1.528v3.202h-.961v-.764h-.023c-.284.517-.902.844-1.543.844-.957 0-1.626-.566-1.626-1.4Zm3.155-.42v-.366l-1.203.07c-.6.04-.939.292-.939.69 0 .405.353.67.892.67.702 0 1.25-.459 1.25-1.064ZM25.146 17.569v-.773c.074.017.242.017.325.017.465 0 .716-.185.869-.662 0-.009.088-.283.088-.287l-1.765-4.651h1.087l1.236 3.78h.018l1.236-3.78h1.06l-1.831 4.89c-.418 1.126-.901 1.488-1.914 1.488-.084 0-.335-.01-.409-.022Z" fill="#000"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</modal-dialog>
    <style>
      #ProductPopup-tabby {
        text-decoration: underline;
        font-weight: 600;
    letter-spacing: 1.3px;
      }
      .installment-text {
        margin-bottom: 5px;
        max-width: 100%;
      }
      .installment--wrapper {
            display: flex;
    flex-direction: column;
    flex: 1;
      }
      .styles__body--a3828 {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
    background: #fff;
    border-radius: 17px;
    color: #292929;
    overflow: auto;
}
      .styles__header--8f936 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
      .styles__logo--02285 {
    width: 90px;
}
      .styles__tabby-info__logo--ec151 {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
      .styles__title--534fc {
    margin-top: 20px;
}
      .styles__title--5f0a4 {
    font-family: Radial;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    padding-bottom: 4px;
    background: linear-gradient(270deg, #00eba9 0%, #6bf 47.92%, #9450ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
      .styles__subtitle--4fccd {
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
    color: #292929;
}
      .styles__diagramm--877c2 {
    margin-top: 32px;
}
      .styles__installmentsScheme--bd756 {
    padding: 0 18px 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    --active-circle-color: #3eedbf;
    --inactive-circle-color: #d1ced4;
    --dark-circle-color: #7f90a3;
}
      .styles__circleDark--e64fa {
    border: 1px solid var(--dark-circle-color);
}
      .styles__circleBig--58244 {
    height: 40px;
    min-width: 40px;
}
      .styles__circle--1fc0f {
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #acacb6;
    overflow: hidden;
    position: relative;
    background: #fff;
    box-sizing: border-box;
}
      .styles__circle--1fc0f::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
    top: 0;
}
      .styles__installmentsScheme--bd756 .styles__installmentsSchemeDividerBig--3661f {
        display: block !important;
    height: 40px;
}
      .styles__installmentsScheme--bd756 .styles__installmentsSchemeDivider--acdc8 {
    height: 32px;
    width: 43px;
    position: relative;
}
      .styles__installmentsScheme--bd756 .styles__installmentsSchemeDividerDark--30769::after {
    background-color: var(--dark-circle-color);
}
      .styles__installmentsScheme--bd756 .styles__installmentsSchemeDivider--acdc8::after {
    content: "";
    position: absolute;
    height: 1px;
    top: 50%;
    width: 100%;
    background-color: #acacb6;
}
      .styles__circleInside--227d2 {
        display: block !important;
    height: 100%;
}
      .styles__installmentsScheme--bd756 .styles__installmentsSchemeDivider--acdc8 {
    height: 32px;
    width: 43px;
    position: relative;
}
      .styles__installmentsScheme--bd756 .styles__installmentsSchemeDividerDark--30769::after {
    background-color: var(--dark-circle-color);
}
      .styles__installmentsScheme--bd756 .styles__installmentsSchemeDivider--acdc8::after {
    content: "";
    position: absolute;
    height: 1px;
    top: 50%;
    width: 100%;
    background-color: #acacb6;
}
      .styles__installmentsScheme--bd756 .styles__installmentsSchemeDivider--acdc8 {
    height: 32px;
    width: 43px;
    position: relative;
}
      .styles__installmentsScheme--bd756 .styles__installmentsSchemeDividerDark--30769::after {
    background-color: var(--dark-circle-color);
}
      .styles__installmentsScheme--bd756 .styles__installmentsSchemeDivider--acdc8::after {
    content: "";
    position: absolute;
    height: 1px;
    top: 50%;
    width: 100%;
    background-color: #acacb6;
}
     
      .styles__tabby-promo__graph-with-titles--fb296 .styles__tabby-promo__graph-with-titles__descr--b83d6 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    line-height: 12px;
}
      .styles__tabby-promo__graph-with-titles--fb296 .styles__tabby-promo__graph-with-titles__descr--b83d6 .styles__tabby-promo__graph-with-titles__item-text--de93c.styles__tabby-promo__graph-with-titles__item-text_big--fa514:first-of-type {
    margin: 0 8px 0 0;
}
      .styles__tabby-promo__graph-with-titles--fb296 .styles__tabby-promo__graph-with-titles__descr--b83d6 .styles__tabby-promo__graph-with-titles__item-text--de93c {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    text-align: center;
    margin: 0 3.5px;
    width: 68px;
    overflow: hidden;
}
      .styles__tabby-promo__graph-with-titles--fb296 .styles__tabby-promo__graph-with-titles__descr--b83d6 .styles__tabby-promo__graph-with-titles__item-text--de93c div:first-of-type {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 4px;
    color: #292929;
    font-family: Inter, sans-serif;
}
      
element.style {
}
.styles__tabby-promo__graph-with-titles--fb296 .styles__tabby-promo__graph-with-titles__descr--b83d6 .styles__tabby-promo__graph-with-titles__item-text--de93c div:last-of-type {
    color: #54545c;
    font-size: 11px;
}
      .styles__tabby-promo__graph-with-titles--fb296 .styles__tabby-promo__graph-with-titles__descr--b83d6 .styles__tabby-promo__graph-with-titles__item-text--de93c.styles__tabby-promo__graph-with-titles__item-text_big--fa514 {
    margin: 0 8px;
}
      .styles__tabby-promo__graph-with-titles--fb296 .styles__tabby-promo__graph-with-titles__descr--b83d6 .styles__tabby-promo__graph-with-titles__item-text--de93c.styles__tabby-promo__graph-with-titles__item-text_big--fa514:last-of-type {
    margin: 0 0 0 8px;
}
      .styles__howItWorks--a4ca3 {
    margin-top: 36px;
}
      .styles__howItWorksTitle--70688 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: #292929;
}
      .styles__howItWorksList--5ebda {
    padding: 0;
}
      .styles__howItWorksListItem--b6ad6 {
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}
      .styles__howItWorksListItemCircle--508ac {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    background: #F2F5F7;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    margin-right: 12px;
}
      .styles__actions--61780 {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 32px;
}
      .style__credit-card--20436 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
      .style__credit-card--20436 .style__credit-card__container-card--63e9c {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 8px;
}
      .style__credit-card--20436 .style__credit-card__item--88e09 {
    width: 35px;
    height: 22px;
            margin-right: 5px;
}
@media (max-width: 768px) {
  #PopupModal-tabby .product-popup-modal__content {
        width: 100%;
    top: unset;
    bottom: 65px;
        height: 50%;
  }
}
    </style>
    <script>
      let el = document.querySelector('.main-product-price .price-item.price-item--sale.price-item--last').dataset.price;
      if(el != undefined) {
         let price = parseInt(el);
             price = price / 4;
         let allElement = document.querySelectorAll('.installment-price');
        allElement.forEach(function(e){
          e.innerHTML = price;
        })
      }
    </script>