<style>
  .mainMobileFilterWrapper {
    display: none;
  }
  @media(max-width:767px) {
    .mainMobileFilterWrapper {
      width: 100%;
      background: white;
      display: block;
      box-shadow: 0 -2px 8px rgb(0 0 0);
    }
    .m-filter-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
    }
    .filtersDiv,
    .sortDiv {
      display: flex;
      width: 47%;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row-reverse;
      padding: 5px;
    }
    .filterActiveCounter {
      width: 10%;
      max-width: 10%;
      min-width: 10%;
      display: none;
    }
    .counterTxtfilter,
    .counterTxtsort {
      width: 20px;
      height: 20px;
      background: #44AC34;
      border-radius: 50%;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;

    }
    .sortSVG,
    .filterSVG {
      width: 58%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .sortSVG {
    width: 52%;
}

    .txtSortMain,
    .txtFiltersMain {
      font-style: normal;
      font-weight: 310;
      font-size: 12px;
      line-height: 20px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.7);
    }
    .sortDiv.activeFilter,
    .filtersDiv.activeFilter {
      background: rgba(68, 172, 52, 0.05);
      border: 1px solid #44AC34;
    }
    .m-filter-container.activeFilter .seperator {
      display: none;
    }
    .m-filter-container .seperator {
      display: block;
    }
    .mobileBottomBarWrapper.activeFilter {
      height: 0;
      width: 0;
      visibility: hidden;
      overflow: hidden;
      position: absolute;
      z-index: -100;
    }
    .main-mobile-filters-wrapper {
    position: sticky;
    top: 4.5rem;
    z-index: 2;
    }

  }
</style>



<div class="mainMobileFilterWrapper">
  <div class="m-filter-container">
    <div class="sortDiv">
      <div class="filterActiveCounterSort">
        <p class="counterTxtsort">
          1
        </p>
      </div>
      <div class="sortSVG">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19"
          height="16"
          viewBox="0 0 19 16"
          fill="none">
          <path d="M8.5625 7C8.5625 7.14918 8.50324 7.29226 8.39775 7.39775C8.29226 7.50324 8.14918 7.5625 8 7.5625H1.25C1.10082 7.5625 0.957742 7.50324 0.852252 7.39775C0.746763 7.29226 0.6875 7.14918 0.6875 7C0.6875 6.85082 0.746763 6.70774 0.852252 6.60225C0.957742 6.49676 1.10082 6.4375 1.25 6.4375H8C8.14918 6.4375 8.29226 6.49676 8.39775 6.60225C8.50324 6.70774 8.5625 6.85082 8.5625 7ZM1.25 1.5625H14C14.1492 1.5625 14.2923 1.50324 14.3977 1.39775C14.5032 1.29226 14.5625 1.14918 14.5625 1C14.5625 0.850816 14.5032 0.707742 14.3977 0.602252C14.2923 0.496763 14.1492 0.4375 14 0.4375H1.25C1.10082 0.4375 0.957742 0.496763 0.852252 0.602252C0.746763 0.707742 0.6875 0.850816 0.6875 1C0.6875 1.14918 0.746763 1.29226 0.852252 1.39775C0.957742 1.50324 1.10082 1.5625 1.25 1.5625ZM6.5 12.4375H1.25C1.10082 12.4375 0.957742 12.4968 0.852252 12.6023C0.746763 12.7077 0.6875 12.8508 0.6875 13C0.6875 13.1492 0.746763 13.2923 0.852252 13.3977C0.957742 13.5032 1.10082 13.5625 1.25 13.5625H6.5C6.64918 13.5625 6.79226 13.5032 6.89775 13.3977C7.00324 13.2923 7.0625 13.1492 7.0625 13C7.0625 12.8508 7.00324 12.7077 6.89775 12.6023C6.79226 12.4968 6.64918 12.4375 6.5 12.4375ZM18.1475 10.3525C18.042 10.2472 17.8991 10.188 17.75 10.188C17.6009 10.188 17.458 10.2472 17.3525 10.3525L14.5625 13.1416V5.5C14.5625 5.35082 14.5032 5.20774 14.3977 5.10225C14.2923 4.99676 14.1492 4.9375 14 4.9375C13.8508 4.9375 13.7077 4.99676 13.6023 5.10225C13.4968 5.20774 13.4375 5.35082 13.4375 5.5V13.1416L10.6475 10.3525C10.5409 10.2531 10.3998 10.199 10.2541 10.2016C10.1084 10.2042 9.96934 10.2632 9.86628 10.3663C9.76322 10.4693 9.70419 10.6084 9.70162 10.7541C9.69905 10.8998 9.75314 11.0409 9.8525 11.1475L13.6025 14.8975C13.708 15.0028 13.8509 15.062 14 15.062C14.1491 15.062 14.292 15.0028 14.3975 14.8975L18.1475 11.1475C18.2528 11.042 18.312 10.8991 18.312 10.75C18.312 10.6009 18.2528 10.458 18.1475 10.3525Z" fill="black" />
        </svg>
        <p class="txtSortMain">
          Sort
        </p>
      </div>
    </div>

    <div class="seperator">
      <svg
        width="2"
        height="26"
        viewBox="0 0 2 26"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <line
          x1="1"
          y1="26"
          x2="0.999999"
          y2="2.18557e-08"
          stroke="black"
          stroke-opacity="0.1" />
      </svg>
    </div>
    <div class="filtersDiv">
      <div class="filterActiveCounter">
        <p class="counterTxtfilter">
          0
        </p>
      </div>
      <div class="filterSVG">

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="18"
          viewBox="0 0 20 18"
          fill="none">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.8837 15.75C6.08395 14.9742 6.78909 14.4 7.62699 14.4C8.46489 14.4 9.17004 14.9742 9.37029 15.75H19.102C19.165 15.75 19.2271 15.763 19.2847 15.7887C19.3382 15.8125 19.3873 15.8472 19.4278 15.8895C19.4665 15.93 19.4975 15.9782 19.5187 16.0299C19.538 16.0776 19.5493 16.1284 19.5515 16.1797C19.5538 16.2288 19.5479 16.2783 19.534 16.326C19.5218 16.3678 19.5034 16.4079 19.4795 16.4448C19.4273 16.5254 19.349 16.5879 19.259 16.6217C19.21 16.6401 19.1573 16.6495 19.1047 16.65H19.102H9.37029C9.17004 17.4258 8.46489 18 7.62699 18C6.78909 18 6.08395 17.4258 5.8837 16.65H1.10199C1.04934 16.65 0.996696 16.641 0.947196 16.6225C0.856296 16.5892 0.777098 16.5263 0.724448 16.4448C0.700598 16.4079 0.682147 16.3678 0.669997 16.326C0.656047 16.2783 0.650196 16.2288 0.652446 16.1797C0.654696 16.1284 0.665945 16.0776 0.685295 16.0299C0.706445 15.9782 0.737494 15.93 0.776194 15.8895C0.816693 15.8472 0.86574 15.8125 0.91929 15.7887C0.97689 15.763 1.03899 15.75 1.10199 15.75H5.8837ZM7.62699 15.3C8.12379 15.3 8.52699 15.7032 8.52699 16.2C8.52699 16.6968 8.12379 17.1 7.62699 17.1C7.13019 17.1 6.72699 16.6968 6.72699 16.2C6.72699 15.7032 7.13019 15.3 7.62699 15.3ZM13.0837 8.55C13.2839 7.7742 13.9891 7.2 14.827 7.2C15.6649 7.2 16.37 7.7742 16.5703 8.55H19.102C19.165 8.55 19.2271 8.56305 19.2847 8.5887C19.3382 8.61255 19.3873 8.6472 19.4278 8.6895C19.4665 8.73 19.4975 8.77815 19.5187 8.8299C19.538 8.8776 19.5493 8.92844 19.5515 8.97974C19.5538 9.02879 19.5479 9.0783 19.534 9.126C19.5218 9.16785 19.5034 9.2079 19.4795 9.2448C19.4273 9.32535 19.349 9.38791 19.259 9.42165C19.21 9.44011 19.1573 9.44955 19.1047 9.45H19.102H16.5703C16.37 10.2258 15.6649 10.8 14.827 10.8C13.9891 10.8 13.2839 10.2258 13.0837 9.45H1.10199C1.03899 9.45 0.97689 9.43695 0.91929 9.4113C0.86574 9.38745 0.816693 9.3528 0.776194 9.3105C0.737494 9.27 0.706445 9.22185 0.685295 9.1701C0.665945 9.1224 0.654696 9.07156 0.652446 9.02026C0.650196 8.97121 0.656047 8.9217 0.669997 8.874C0.682147 8.83215 0.700598 8.7921 0.724448 8.7552C0.777098 8.67375 0.856296 8.61075 0.947196 8.57745C0.996696 8.559 1.04934 8.55 1.10199 8.55H13.0837ZM14.827 8.1C15.3238 8.1 15.727 8.5032 15.727 9C15.727 9.4968 15.3238 9.9 14.827 9.9C14.3302 9.9 13.927 9.4968 13.927 9C13.927 8.5032 14.3302 8.1 14.827 8.1ZM2.9587 1.35C3.15895 0.5742 3.86409 0 4.70199 0C5.53989 0 6.24504 0.5742 6.44529 1.35H19.102C19.165 1.35 19.2271 1.36305 19.2847 1.3887C19.3382 1.41255 19.3873 1.4472 19.4278 1.4895C19.4665 1.53 19.4975 1.57815 19.5187 1.6299C19.538 1.6776 19.5493 1.72845 19.5515 1.77975C19.5538 1.8288 19.5479 1.8783 19.534 1.926C19.5218 1.96785 19.5034 2.0079 19.4795 2.0448C19.4273 2.12535 19.349 2.1879 19.259 2.22165C19.21 2.2401 19.1573 2.24955 19.1047 2.25H19.102H6.44529C6.24504 3.0258 5.53989 3.6 4.70199 3.6C3.86409 3.6 3.15895 3.0258 2.9587 2.25H1.10199C1.04934 2.25 0.996696 2.241 0.947196 2.22255C0.856296 2.18925 0.777098 2.12625 0.724448 2.0448C0.700598 2.0079 0.682147 1.96785 0.669997 1.926C0.656047 1.8783 0.650196 1.8288 0.652446 1.77975C0.654696 1.72845 0.665945 1.6776 0.685295 1.6299C0.706445 1.57815 0.737494 1.53 0.776194 1.4895C0.816693 1.4472 0.86574 1.41255 0.91929 1.3887C0.97689 1.36305 1.03899 1.35 1.10199 1.35H2.9587ZM4.70199 0.9C5.19879 0.9 5.60199 1.3032 5.60199 1.8C5.60199 2.2968 5.19879 2.7 4.70199 2.7C4.20519 2.7 3.80199 2.2968 3.80199 1.8C3.80199 1.3032 4.20519 0.9 4.70199 0.9Z"
            fill="black" />
        </svg>
        <p class="txtFiltersMain">
          Filters
        </p>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "FilterBar Mobile",
    "class": "main-mobile-filters-wrapper",
    "settings": [],
    "presets": [
      {
        "name": "FilterBar Mobile",
        "category": "Theme"
      }
    ]
  }
{% endschema %}