.collection-hero__inner {
  display: flex;
  flex-direction: column;
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  padding-bottom: 2rem;
}
.collection-hero__image-div img{
  width:100%;
  height: 99%;
  object-fit: cover;
}
.collection-hero--with-image .collection-hero__text-wrapper.brand-banner-description{
  padding-right:  0;
}
.brand-banner-description .collection-hero__description{
  max-width: 330px!important;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
}
.brand-banner-description .collectionTextbox{
  margin-top: 1rem;
}
.brand-banner-description .collection-logo img{
  display: block;
    height: 120px;
    width: 100%;
    object-fit: contain;
    object-position: left;
}
@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
/*     padding: calc(4rem + var(--page-width-margin)) 0
      calc(4rem + var(--page-width-margin)); */
    padding:0;
    overflow: hidden;
  }

  .collection-hero--with-image .collection-hero__inner {
    padding-bottom: 0;
    padding-bottom: 0;
    width: 94%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0 0 5px auto;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
  flex-direction:column;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }

  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.collection-hero__title {
  margin: 2.5rem 0;
}

.collection-hero__title + .collection-hero__description {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 13px;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
      margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 13px;
    margin-bottom: 0rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: rgba(0, 0, 0, 0.5);
  }
  .collectionTextbox{
    margin-top:6rem;
  }
}

.collection-hero--with-image .collection-hero__description{
  letter-spacing: -0.6px;
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
    text-transform: uppercase;
    color: black;
    line-height: 1.2;
    font-size: 30px;
}

.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 1rem 0 4rem;
  position:relative;
}

.collection-hero__image-container {
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}
@media(max-width:1191px){
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 2rem 0rem 0rem 0;
    flex-basis: 30%;
}
  .collection-hero--with-image .collection-hero__title {
    margin: 0;
    width: 90%;
    font-size: 26px;
}
  .collection-hero__title+.collection-hero__description {
    margin-top: 0rem;
    font-size: 13px;
    

}
  .collectionTextbox {
    margin-top: 1rem;
}
}
@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 20rem;
  }
  .breadcrumWrapperCol,
  .collectionTextbox{
    width:90%;
    margin:0 auto;
  }
  .collection-hero__inner{
    flex-direction: column-reverse;
  }
  .collection-hero--with-image .collection-hero__text-wrapper{
    margin-top:0;
    padding-top:0;
   
  }
  .breadcrumWrapperCol{
     margin-bottom:20px;
  }
}

@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 2rem 3rem 4rem 0;
    flex-basis: 30%;
  }

  .collection-hero__image-div,
  .collection-hero__image-container {
    align-self: stretch;
    flex: 1 0 70%;
    margin-left: 3rem;
    min-height: 20rem;
  }
}

@media(min-width: 768px) and (max-width: 1199px){
  .collection-hero__image-div, .collection-hero__image-container {
    flex: 1 0 65%;
  }
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 2rem 0rem 4rem 2rem;
  }
  .brand-hero .brand-banner-description {
    flex-basis: 35%;
    padding: 1rem 2rem 5rem 2rem;
  }
  .collection-hero--with-image .collection-hero__inner {
    width: 100%;
  }
  .brand-banner-description .collectionTextbox {
    margin-top: 0;
  }
}

@media(max-width: 767px){
  .brand-hero .brand-banner-description{
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem !important;
  }
  .brand-hero .brand-banner-description .collectionTextbox{
    width: 100%;
  }
  .brand-hero .brand-banner-description .collection-hero__description{
    max-width: 400px !important;
    font-size: 14px;
    margin-top: 10px;
  }
  .brand-banner-description .collection-logo img{
    height: 100px;
  }
  .collection-hero__title+.collection-hero__description {
    line-height: 1.6;
  }
  .collection-hero--with-image .collection-hero__title {
    font-size: 15px;
    margin-bottom: 0.8rem;
  }
  .collection-hero--with-image:not(.brand-hero) .collection-hero__inner .breadcrumb {
    margin: 0.5rem 2rem 1.3rem;
  }
  .brand-banner-description .collectionTextbox {
    margin-top: 0;
  }
}
